code {
    font-size: 11px;
    max-width: 100%;
    display: inline-block;
    overflow: auto;
}

img {
    max-width: 100%;
}

.card {
    padding: 1%;
    height: 100%;
    white-space: normal;
    text-transform: none;
}
.wrap_link {
    display: block;
}
